.header {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header > .week {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.header > .primary-focus {
    display: flex;
    gap: 10px;
    padding-bottom: 20px;
}

.header > .week {
    padding-bottom: 30px;
    font-size: 24px;
}

.header > .primary-focus .focus-input {
    display: inline-block;
    padding-top: 2px;
}

.primary-focus > span {
    font-weight: bold;
    font-size: 18px;
}

.toggle-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
}

.dark-mode-toggle {
    appearance: none;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    position: relative;
    transition: background 0.3s;
}

.dark-mode-toggle::before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

.dark-mode-toggle:checked {
    background: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode-toggle:checked::before {
    transform: translateX(20px);
}

.area-header, .goal-header {
    padding: 10px;
    color: white;
    transition: background-color 0.3s ease;
}

.dark-mode .header {
    background-color: black !important;
}

.dark-mode .grid-1, 
.dark-mode .grid-week,
.dark-mode .grid-row,
.dark-mode .headChecklist {
    background-color: black !important;
}

.focus-input,
.notes-input,
.recap-input {
    border: 2px solid transparent;
    padding: 8px;
    border-radius: 8px;
    transition: border-color 0.2s ease;
    min-height: 40px;
}

.area-input,
.goal-input {
    border: 2px solid transparent;
    border-radius: 8px;
    transition: border-color 0.2s ease;
}

.focus-input {
    display: inline-block;
    width: 300px;
}

/* Show border on hover */
.focus-input:hover,
.notes-input:hover,
.recap-input:hover,
.area-input:hover,
.goal-input:hover {
    border-color: #aaa;
}

/* Show border when typing */
.focus-input:focus,
.notes-input:focus,
.recap-input:focus,
.area-input:focus,
.goal-input:focus {
    border-color: #007bff; /* or whatever accent color you like */
    outline: none; /* optional: removes blue default focus outline */
}

.habit-checkbox:hover {
    cursor: pointer;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    opacity: 0.5;
}