.header {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.header > .week {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.header > .primary-focus {
    display: flex;
    gap: 10px;
}

.header > .primary-focus .focus-input {
    display: inline-block;
    min-width: 1200px;
    padding-top: 2px;
}

.primary-focus > span {
    font-weight: bold;
    font-size: 18px;
}